@import "tailwindcss";

.nav-btn {
  @apply px-3 py-1 bg-slate-700 rounded hover:bg-slate-600 text-white text-sm;
}

.mobile-link {
  @apply block w-full bg-slate-700 hover:bg-slate-600 p-2 rounded text-white text-left;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-6px);
  }
  40%, 80% {
    transform: translateX(6px);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

/* Hide scrollbars but keep scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}


/* Make <input type="date"> calendar icon white */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
  opacity: 1;
  cursor: pointer;
}

/* Firefox workaround */
input[type="date"]::-moz-focus-inner {
  filter: invert(1) brightness(2);
}


